.md-whiteframe-glow-z1 {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
}

.md-grey-theme {
    background: #f6f6f6 !important;
    color: #202020 !important;
    padding: 8px;
}


.md-list-margin{
    margin: 2%;
}

.md-align-l{
    text-align: left;
}
.md-align-r{
    text-align: right;
}

.md-align-c{
    text-align: center;
}
