<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="timerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="timerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="timerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="timerApp" class="no-js"> <!--<![endif]-->
<head>
  <title>Mega Timer</title>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Mega Timer descroption">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="css/app.css"/>

</head>

<body>
<section  ng-controller="MenuCtrl">

  <md-toolbar class="app-toolbar md-indigo-theme md-whiteframe-z2 fix-top">
    <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button" ng-click="toggleLeft()" hide-gt-md>
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <div hide-sm>Mega Timer</div>
        <md-button layout-align="start" ng-click="menu.toggleSelectPage(page)" ng-repeat="page in menu.pages" ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(page)" hide-sm>
            <md-icon md-font-set="material-icons">{{page.menuIcon}}</md-icon> <span > {{page.menuTitle}} </span>
        </md-button>
    </div>
  </md-toolbar>

    <div layout="row" flex>
          <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
              <md-toolbar class="md-theme-light"  ng-controller="LeftCtrl" layout="row" >
                  <div class="md-toolbar-tools">Mega Timer Menu</div>
                  <div>
                      <md-button class="md-icon-button md-primar "  ng-click="close()" >
                            <md-icon  md-font-set="material-icons align-icon" >close</md-icon>
                      </md-button>
                  </div>
              </md-toolbar>
              <md-content layout-padding ng-controller="LeftCtrl">
                  <md-list>
                      <md-list-item ng-repeat="page in menu.pages">
                          <md-button ng-click="menu.toggleSelectPage(page)"  ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(page)" >
                             <md-icon  md-font-set="material-icons">{{page.menuIcon}}</md-icon> <span > {{page.menuTitle}} </span>
                          </md-button>
                      </md-list-item>
                  </md-list>
              </md-content>

          </md-sidenav>
    </div>
  </section>

  <!--Views-->
  <md-content  flex ng-view layout-align="center center" layout-fill>

  </md-content>

  <!-- Angular Material Dependencies -->

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <!-- Other Scripts -->
  <script src="js/classes/timer_class.js"></script>
  <script src="js/classes/archived_timer.js"></script>
  <script src="js/modules/timerApp.js"></script>
  
  <script src="js/services/tasksservice.js"></script>
  <script src="js/services/logsservice.js"></script>
  
  <script src="js/controllers/MenuCtrl.js"></script>
  <script src="js/controllers/LeftCtrl.js"></script>
  <script src="js/controllers/todocontroller.js"></script>
  <script src="js/controllers/taskscontroller.js"></script>
  <script src="js/controllers/archivecontroller.js"></script>
  <script src="js/controllers/logscontroller.js"></script>
  
  <script src="js/filters/timeformat.js"></script>
  <script src="jq.js"></script>
  <script src="export.js"></script>
  

</body>
</html>