<div ng-controller="ArchiveController" layout-fill layout="column" >
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar md-grey-theme">
        <section class="inset md-toolbar-tools" layout="row" layout-align="start">
            <md-input-container flex offset="50">
                <label>Group</label>
                <md-select ng-model="ctrl.userState">
                    <md-option value="{{}}}">{{}}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-icon-button md-primary"><md-icon md-font-set="material-icons">cached</md-icon></md-button>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who">
            </md-input-container>
            <md-button class="md-icon-button md-primary"><md-icon md-font-set="material-icons">search</md-icon></md-button>
        </section>
    </md-toolbar>

    <md-content layout="row" layout-align="center ">
        <md-list flex class="md-list-margin">
            <md-list-item>
                <div flex="20"><h3>Name</h3></div>
                <div flex="15" class="md-align-c"><h3>Time</h3></div>
                <div flex="15" class="md-align-c"><h3>Goal</h3></div>
                <div flex="15" class="md-align-c"><h3 >Creation Date</h3></div>
                <div flex="15" class="md-align-c"><h3 >Closing Date</h3></div>
                <div flex="20" class="md-align-r"><h3>Actions</h3></div>
            </md-list-item>
            <!--Start Repeat-->
            <div ng-repeat="atimer in archive track by $index">
                <md-divider ></md-divider>
                <md-list-item class="" layout-padding="10">
                    <div flex="20">{{atimer.name}}</div>
                    <div flex="15" class="md-align-c">{{atimer.currentTime | timeFormat}}</div>
                    <div flex="15" class="md-align-c">{{atimer.goal | timeFormat}}</div>
                    <div flex="15" class="md-align-c">{{atimer.creationDate | timeFormat}}</div>
                    <div flex="15" class="md-align-c">{{atimer.closingDate | timeFormat}}</div>
                    <div flex="20" class="md-align-r">
                        <md-button class="md-icon-button md-primary inset" ng-click="addTaskFromArchive($index)"><md-icon md-font-set="material-icons">reply</md-icon></md-button>
                        <md-button class="md-icon-button md-primary inset"><md-icon md-font-set="material-icons">menu</md-icon></md-button>
                        <md-button class="md-icon-button md-warn inset" ng-click="deleteFromArchive($index)"><md-icon md-font-set="material-icons">close</md-icon></md-button>
                    </div>
                </md-list-item>
            </div>
            <!--End Repeat-->
            <md-divider ></md-divider>
            <md-list-item layout-padding="10">
                <div flex="25"><h3>Total</h3></div>
                <div flex="15"><h3>Time</h3></div>
                <div flex="15"></div>
                <div flex="25"></div>
                <div flex="20" class="md-align-r">
                    <md-button class="md-icon-button md-primary inset"><md-icon md-font-set="material-icons">file_download</md-icon></md-button>
                    <md-button class="md-icon-button md-warn inset"><md-icon md-font-set="material-icons">close</md-icon></md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>