<div  layout-fill layout="column">
  <div layout-align="center center">
      <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar md-grey-theme">
          <section class="inset md-toolbar-tools" layout="row" layout-align="start">

              <md-radio-group ng-model="data.group1" layout="row">
                  <md-radio-button value="Tasks" class="md-primary">Tasks</md-radio-button>
                  <md-radio-button value="Group">Group</md-radio-button>
              </md-radio-group>


          </section>

      </md-toolbar>

  </div>
</div>